body{
    background-color: #1effa3;
}

h1 {
    text-align: center;
}

.panel_icons{
    height: 100px;
    width: 100px;
    background-color: goldenrod;
}

.panel_value{
    text-align: center;
    position: relative;
    //top: -65px;
}

#table_out_panel_value_ampre{
    position: absolute;
    top: 665px;
    left: 25px;
}

#table_out_panel_value_volt{
    position: absolute;
    top: 702px;
    left: 60px;
}

#housedog_picture{
    height: 400px;
    width: 423px;
}

#dog_picture{
    position:relative;
    height: 300px;
    left: -50px;
    top: 50px;
}

#dog_message{
    display: none;
    position: absolute;
    width: 100px;
    top: 0px;
    left:0px;
    font-size: 14px;
    background-color: #fff;
    color: #404040;
    border: 1px solid #999;
    padding: 7px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

  .gauge {
    width: 200px;
    height: 150px;
  }

  .gauge_mini{
      width: 100px;
      height: 75px;
  }

    .gauge_mini2{
      width: 100px;
      height: 150px;
  }

#gg1_light{
    background-image: url("/static/pictures/sun.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 52%;
    }

#gg2_pressure{
        background-image: url("/static/pictures/pressure.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 57%;
        }

#gg3_temperature{
        background-image: url("/static/pictures/temperature.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 60%;
        }

#gg4_humidity{
        background-image: url("/static/pictures/humidity.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 60%;
        }

#map {
        width: 200px;
        height: 150px;
        //background-color: grey;
      }

.table_gauges{
    border: solid 3px black;
}