<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Dog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/main.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/plugin/jquery-ui.structure.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/plugin/jquery-ui.theme.css")}}">
</head>


<body>
<h1>Give your best friend the most he deserves!!!</h1>
<table id="table_out_panel">
    <th>Out sensors</th>
    <tr>
        <td></td>
        <td rowspan="10"><img id="housedog_picture" src="{{ url_for('static', filename="pictures/doghouse1.png")}}"/></td>
        <td rowspan="10"><img id="dog_picture" src="{{ url_for('static', filename="pictures/dog1NoBackground.png")}}"/></td>
    </tr>
    <tr>
        <td class="table_gauges">
        <div id="gg1_light" class="gauge"></div>
        </td>
    </tr>

    <tr>
        <td class="table_gauges">
        <div id="gg2_pressure" class="gauge"></div>
        </td>
    </tr>

    <tr>
        <td class="table_gauges">
        <div id="gg3_temperature" class="gauge"></div>
        </td>
    </tr>

    <tr>
        <td class="table_gauges">
        <div id="gg4_humidity" class="gauge"></div>
        </td>
    </tr>

    <tr>
        <td>
            <table class="table_gauges">
                <tr>
                    <td><div id="gg5_voltage" class="gauge_mini"></div></td>
                    <td rowspan="2"><div id="gg7_power" class="gauge_mini2"></td>
                </tr>
                <tr>
                    <td><div id="gg6_current" class="gauge_mini"></div></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td class="table_gauges">
        <div id="gg8_led1" class="gauge"></div>
        </td>
    </tr>

    <tr>
        <td class="table_gauges">
            <div id="map"></div>
        </td>
    </tr>
</table>



<div id="dog_message">Original message</div>

    <script src="{{ url_for('static', filename="js/plugin/jquery.js")}}"></script>
    <script src="{{ url_for('static', filename="js/plugin/jquery-ui.js")}}"></script>
    <script src="{{ url_for('static', filename="js/plugin/raphael-2.1.4.min.js")}}"></script>
    <script src="{{ url_for('static', filename="js/plugin/justgage.js")}}"></script>
    <script src="{{ url_for('static', filename="js/main.js")}}"></script>
    <script src="{{ url_for('static', filename="js/gauges.js")}}"></script>
    <script src="{{ url_for('static', filename="js/map.js")}}"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj7GhzM1_AaYVwE2ehvpFIlVcU4djuQ8M&callback=initMap">
    </script>


</body>
</html>